<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        
      <a class="navbar-brand" routerLink="">Helthyfy</a>
      <div class="topnav">
        <!-- <a class="active" href="#home">Home</a> -->
        <!-- <a href="#about">About</a>
        <a href="#contact">Contact</a> -->
        
        <input type="text" placeholder="Search..">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >  Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="mp" routerLinkActive="active-link"> Medical Professionals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="service" routerLinkActive="active-link">Services </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="department" routerLinkActive="active-link">Department</a>
          </li>
          
              <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
            
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="cart" routerLinkActive="active-link"><i style="font-size: 30px" class="bi bi-cart4 ">
                <div class="badge bg-danger" style="font-size: 12px;">0</div></i></a> </li>
                    -->
            
              
           </ul>
           
        </div>
    </div>
    
  </nav>