

<div class="container mt-5 mb-5" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTei7KenbFl3LEYq7woSGBHssLnseHnVU4vw&usqp=CAU'  );background-attachment: fixed;background-repeat: no-repeat;height: 500px;     background-position:center;background-size: cover;">
        
    <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">Contact Us</h1>
    <p class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">  Reception: 7045589938/39 / 9920598439 / 9823033017<br>
    Billing Desk: 7045589936 LIC Health Checkup: 7045589939<br>
    Dialysis Dept: 9594317921 Pathology Dept: 7738623493<br>
    EMERGENCY: 9326358978 / 9326990578<br>
    Email: Healthyfy@yahoo.com / Healthyfy@gmail.com</p>